<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-button (click)="vibrate()">
    Vibrar
  </ion-button>

  <ion-button (click)="toggleFlashlight()">
    {{ flashlightOn ? 'Apagar Linterna' : 'Prender Linterna' }}
  </ion-button>

  <ion-button (click)="recording ? stopRecord() : startRecord()">
    {{ recording ? 'Detener Grabación' : 'Grabar Audio' }}
  </ion-button>

  <ion-button (click)="playAudio()">
    Reproducir Audio
  </ion-button>

  <ion-button (click)="checkNetworkStatus()">
    Verificar Conexión
  </ion-button>
  <div *ngIf="isConnected">
    <p>Tienes conexión a Internet.</p>
  </div>
  <div *ngIf="!isConnected">
    <p>No tienes conexión a Internet.</p>
  </div>

</ion-content>
